@font-face {
    font-family: 'The Girl Next Door';
    font-style: normal;
    font-weight: 400;
    src: local('The Girl Next Door'), local('TheGirlNextDoor'), url(https://themes.googleusercontent.com/static/fonts/thegirlnextdoor/v4/cWRA4JVGeEcHGcPl5hmX7p-yoK3Kl6E6RmvAncM23y8.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

div#g023 {
    font-family: 'The Girl Next Door', cursive;
}

div#g023 {
    width: 1000px;
    min-width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("cork-board.png");
    background-size: 100% 100%;
    background-position: center;
}

div#g023 * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


div.g023_header {
    text-align: center;
}

div.g023_header img {
    margin-top: 2px;
}

div.g023_header div.back {
    font-size: 16px;
    height: 26px;
    left: 50%;
    line-height: 20px;
    margin-left: -456px;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    top: 39px;
    width: 69px;
    display:none;
    z-index: 4;
}
div.g023_header div.back:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

div.back > * {
    display: inline-block;
}

div.g023_restaItemWrapper, div.g023_offeringItemWrapper {
    display: inline-block;
    text-align: center;
}

div.g023_restaItemWrapper div.pin, div.g023_offeringItemWrapper div.pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
}

.stickyMap {
/*    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(-1.2deg);*/
}

.stickyVF {
    background-color: #ADD8E6;
}

div.widget_page {
    display: none;
    height: 100%;
    position: absolute;
    width: 1000px;
}

#g023_restaListWrapper {

}

.g023_content {
    padding: 0 50px 34px 40px;
    position: relative;
    overflow: hidden;
}

#g023_restaListContent.g023_content {
    margin-top: 5px;
}

#g023_restaMapContent.g023_content {
    
}

#g023_restaProdContent.g023_content {
    margin-top: 20px;
}

#g023_restaProdContent.g023_content .g023_value_facts {
    background-color: #EFEFEF;
    background-image: url("watermark.png");
    background-position: 70% 70%;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 8px;
    position: relative;
    margin-left: 90px;
}

.g023_value_facts * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#g023_restaMapContent.g023_content #g023_mapCanvas {
    height: 460px;
    margin-top: 48px;
    width: 876px;
}

#g023_restaListContent.g023_content .g023_vacation_restas_wrapper {
    height: 510px;
    margin-left: 40px;
    overflow: auto;
}

#g023_restaOfferingsContent.g023_content {
    margin-top: 20px;
}

.g023_scrollable_list_wrapper {
    position: relative;
}

div.g023_offeringItemWrapper div.g023_offering {
    height: 74px;
    margin-top: 10px;
    overflow: auto;
}

div.g023_offering span {
    line-height: 0px;
}

div.g023_offering span.no_meal {
    color: gray;
}

div.g023_offering span.meal_no_detail {
    color: green;
}

div.g023_offering span.normal {
    color: black;
    font-size: 16px;
}

#g023_restaListWrapper div.g023_restaItemWrapper.note, #g023_restaOfferingsWrapper div.g023_offeringItemWrapper.note {
    -transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; 
    -webkit-transition: all .2s ease-in-out; 
    -o-transition: all .2s ease-in-out; 
    cursor: pointer;
    display: block;
    max-width: 140px;
    min-width: 110px;
}

#g023_restaListWrapper div.g023_restaItemWrapper:hover.note, #g023_restaOfferingsWrapper div.g023_offeringItemWrapper:hover.note {
    border: 1px solid rgba(0,0,0,.75);
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.g023_overflow_wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#g023_restaListContent.g023_content .g023_overflow_wrapper {
    height: 214px;
    width: 90%;
}

.g023_content#g023_restaOfferingsContent .g023_overflow_wrapper {
    height: 150px;
    width: 90%;
}

.g023_sectionHeader, 
.g023_sectionHeader .g023_sectionHeaderBacking > * {
    display: inline-block;
    line-height: 10px;
}

#g023_restaOfferingsContent .g023_sectionHeaderBacking span {
    font-family: 'Great Vibes',cursive;
    font-size: 20px;
}
.g023_sectionContent {
    display: inline-flex;
    margin-top: 4px;
}

.note {
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px 20px;
    border: 1px solid rgba(0,0,0,.25);
    padding: 8px 6px;
}

.g023_sectionHeaderBacking {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
}

.g023_sectionHeaderBacking.note {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 4px 10px;
}

.g023_info_content .note {
    margin: 4px !important;
}
/*.g023_sectionHeaderBacking span img {
    height: 10px;
}*/

.stickyGray {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #dfdfdf;
}

.stickyBlue {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #CBFAFA;
}

.sticky0 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: white;
}

.sticky1 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #CBFAFA;
}

.sticky2 {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    background-color: #FFF780;
}

.sticky3 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    background-color: #F8CDCD;
}

.sticky4 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    background-color: #F8CDCD;
}

.sticky5 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: #ffffff;
}

.pin {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    box-shadow: 0 3px 6px rgba(0,0,0,.55);
    margin: 0 auto;
}

.pin.vf {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, blue 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, blue, black);
    background-image: radial-gradient(blue 50%, black 100%);
}

.pin.left, .pin.right {
    width: 14px;
    height: 14px;
    margin-top: 0px;
}

.pin.left {
    margin-left:3px;
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, skyBlue 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, skyBlue, black);
    background-image: radial-gradient(skyBlue 50%, black 100%);
}
.pin.right {
    margin-right:3px;
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, orange 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, orange, black);
    background-image: radial-gradient(orange 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(1n) .pin, div.g023_offeringItemWrapper:nth-child(1n) .pin {
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, red 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, red, black);
    background-image: radial-gradient(red 50%, black 100%);

}

div.g023_restaItemWrapper:nth-child(6n) .pin, div.g023_offeringItemWrapper:nth-child(6n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(orange 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(3n) .pin, div.g023_offeringItemWrapper:nth-child(3n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(5n+3) .pin,
div.g023_restaItemWrapper:last-child .pin,
div.g023_offeringItemWrapper:nth-child(5n+3) .pin,
div.g023_offeringItemWrapper:last-child .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 50%, white 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, white);
    background-image: radial-gradient(blue 50%, white 100%);
}

#g023_restaMapContent .pin {
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, red 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, red, black);
    background-image: radial-gradient(red 50%, black 100%);
}

.pin.mapPin_1 {
    left: 170px;
    position: absolute;
    top: 55px;
    z-index: 5;
}

.pin.mapPin_2 {
    left: 490px;
    position: absolute;
    top: 55px;
    z-index: 5;
}

.pin.mapPin_3 {
    left: 800px;
    position: absolute;
    top: 55px;
    z-index: 5;
}

div.g023_restaIconHolder img {
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    width: 108px;
}

div.g023_restaIconHolder div.g023_restaDetail {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: -6px;
    margin-top: 10px;
}

div.g023_arrow {
    height: 40px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    position: absolute;
    width: 40px;
    background-size: 100% 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#g023_restaListWrapper div.g023_arrow.g023_upper_row, #g023_restaListWrapper div.g023_arrow.g023_lower_row {
    top: 80px;
}

#g023_restaOfferingsWrapper div.g023_arrow.g023_upper_row, #g023_restaOfferingsWrapper div.g023_arrow.g023_lower_row {
    top: 56px;
}

div.g023_arrow:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    cursor: pointer;
}

div.g023_arrow.g023_left_arrow {
    background-image: url("left_arrow.png");
    left: 4px;
} 

div.g023_arrow.g023_right_arrow {
    background-image: url("right_arrow.png");
    right: 2px;
}

.g023_day_selector {
    position: relative;
    z-index: 2;
}

.g023_day_selector .g023_selector_arrows {
    
    background-size: 100% 100%;
    height: 51px;
    position: absolute;
    top: 0px;
    width: 101px;
}

.g023_selector_arrows#left {
    left: 100px;
    background-image: url("day_selector_arrows_backing_left.png");
}

.g023_selector_arrows#right {
    right :100px;
    background-image: url("day_selector_arrows_backing_right.png");
}


.g023_selector_arrows img {
    left: 50%;
    margin-left: -13px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    position: absolute;
    top: 9px;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    width: 20px;
}

.g023_selector_arrows:hover {
    cursor: pointer;
}

.g023_selector_arrows:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.g023_day_selector .g023_selector_display {
    background-image: url("blue_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Great Vibes',cursive;
    font-size: 25px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    text-align: center;
    width: 451px;
}

#g023_restaOfferingsContent .g023_offeringsContent {
    margin-top: 40px;
}

.g023_mask {
    height: 523px;
    left: 36px;
    top: -2px;
    width: 921px;
    z-index: 999;
}

.g023_mask.g023_restaList {
    background-color: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
}

.g023_popup {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 16px;
    border-radius: 6px;
    z-index: 1000;
}

.g023_alert {
    background-color: #ADD8E6;
    margin-left: -150px;
    margin-top: -100px;
    padding: 12px 20px;
    width: 300px;
}

.g023_popup .g023_popup_header {
    text-align:center;
    font-weight: bold;
}

.g023_popup .g023_popup_content {
    font-size: 14px;
    margin-top: 6px;
}

.g023_alert .g023_alert_content {
    max-height: 80px;
    text-align: justify;
}

.g023_popup .g023_popup_footer {
    text-align:center;
    margin-top: 14px;
}

.g023_info_wrapper {
    left: 50%;
    margin-left: -196px;
    position: absolute;
    top: -25px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    z-index: 1;
}

.g023_info_wrapper .g023_info {
    background-color: #ADD8E6;
    font-size: 15px;
    line-height: 24px;
    padding: 30px 20px;
    position: relative;
    width: 340px;
}



.g023_info_wrapper .g023_info .g023_info_handle {
    background-image: url("resta_info_pull_handle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -34px;
    height: 44px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
    transition: all ease-in-out 0.1s;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
}

.g023_info_wrapper .g023_info .g023_info_handle:hover {
    bottom: -38px;
}

.g023_info_wrapper .g023_info .g023_info_buttons {
    bottom: 0;
    height: 34px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.g023_info_buttons button {
    display: block;
    line-height: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

.g023_info_wrapper .g023_info .g023_info_handle:hover {
    cursor:pointer;
}

.g023_info_content .g023_desc {
    max-height: 132px;
    overflow: auto;
    margin-bottom: 10px;
}

.g023_info_content .g023_notice, 
.g023_info_content .g023_notes, 
.g023_info_content .g023_special_hours, 
.g023_info_content .g023_dates_closed {
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    display: block;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    overflow:auto;
}

.g023_info_content .g023_notice {
    max-height: 56px;
}

.g023_info_content .g023_notes {
    max-height: 46px;
}

.g023_info_content .g023_special_hours {
    max-height: 95px;
}

.g023_info_content .g023_dates_closed {
    max-height: 95px;
}

.g023_info_content .g023_notice:hover, 
.g023_info_content .g023_notes:hover, 
.g023_info_content .g023_special_hours:hover, 
.g023_info_content .g023_dates_closed:hover {
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}



div.uw_food_services-nutrition {
width: 20em;
min-width: 0;
border-width: 0.1em;
padding: 0.2em;
margin: 1em 0;
}

#content table {
max-width: 750px;
}



table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

table {
border-collapse: collapse;
}



table {
margin: 1em 0;
min-width: 100%;
max-width: 100%;
font-size: .9em;
}

div.uw_food_services-nutrition, div.uw_food_services-nutrition table, div.uw_food_services-nutrition table * {
text-align: left;
font-style: normal;
border: none;
margin: 0;
padding: 0;
/*background-color: #FFF;*/
border-color: #000;
border-style: solid;
border-width: 0;
}

div.uw_food_services-nutrition table td, div.uw_food_services-nutrition table thead th:last-child {
    text-align: right;
}

div.uw_food_services-nutrition table td.serving_size {
    border-bottom-width: 0.4em;
    text-align: left;
}

div.uw_food_services-nutrition table th, div.uw_food_services-nutrition table td {
    padding: 0.2em;
}


th {
    border-bottom: 3px solid #CCCCCC;
    padding-right: 1em;
    text-align: left;
}


p, h1, h2, h3, h4, h5, h6, table, th, td {
margin: 0;
padding: 0;
font-size: 1em;
line-height: inherit;
font-weight: inherit;
border: none;
}


h2 {
    border-bottom: 1px solid #FECB00;
    color: #111111;
    font-size: 1.3em;
    margin-bottom: 0.8em;
    padding-bottom: 1px;
    line-height: 1.2em;
    font-weight: bold;
}


th, td {
    border: 1px solid #DDDDDD;
    padding: 0.5em;
    vertical-align: top;
}

th {
    /*background-color: #EEEEEE;*/
    font-style: italic;
    text-align: left;
}


div.uw_food_services-nutrition table tbody:first-of-type {
    border-top-width: 0.2em;
}
div.uw_food_services-nutrition table tbody {
    border-top-width: 0.4em;
}

tbody {
    border-top: 1px solid #CCCCCC;
}

div.uw_food_services-nutrition table tbody tr {
    border-bottom-width: 0.1em;
}

div.uw_food_services-nutrition table th.sub {
    padding-left: 1em;
}

div.uw_food_services-nutrition table tbody tr:last-child {
    border-bottom-width: 0;
}

tbody.nutrients span {
font-weight: bold;
}