
@font-face {
    font-family: 'The Girl Next Door';
    font-style: normal;
    font-weight: 400;
    src: local('The Girl Next Door'), local('TheGirlNextDoor'), url(http://themes.googleusercontent.com/static/fonts/thegirlnextdoor/v4/cWRA4JVGeEcHGcPl5hmX7p-yoK3Kl6E6RmvAncM23y8.woff) format('woff');
}

div#g023 {
    font-family: 'The Girl Next Door', cursive;
}

div#g023 {
    width: 1000px;
    min-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("cork-board.png");
    background-size: 100% 100%;
    background-position: center;
}

div#g023 * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.cell {
    float: none;
}

div.g023_header {
    text-align: center;
}

div.g023_header img {
    margin-top: 2px;
}

div.g023_restaItemWrapper {
    display: inline-block;
    text-align: center;
}

div.g023_restaItemWrapper div.pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
}

div.widget_page {
    /*background-color: #FFFFFF;*/
    display: none;
    height: 100%;
    position: absolute;
    width: 1000px;
    /*    left: 50%;
        margin-left: -500px;*/
}

#g023_restaListWrapper {

}

.g023_content {
    /*height: 100%;*/
    margin-top: 10px;
    padding: 0 50px 34px 40px;
    position: relative;
}

.g023_scrollable_list_wrapper {
    position: relative;
}


#g023_restaListWrapper div.g023_restaItemWrapper.note {
    -transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; 
    -webkit-transition: all .2s ease-in-out; 
    cursor: pointer;
    display: block;
}

#g023_restaListWrapper div.g023_restaItemWrapper:hover.note {
    border: 1px solid rgba(0,0,0,.75);
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.g023_overflow_wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#g023_restaListContent.g023_content .g023_overflow_wrapper {
    height: 220px;
    width: 90%;
}

.g023_content#g023_restaOfferingsContent .g023_overflow_wrapper {
    
}

.g023_sectionHeader, .g023_sectionHeader .g023_sectionHeaderBacking > * {
    display: inline-block;
    line-height: 0px;
    vertical-align: middle;
}

.g023_sectionContent {
    display: inline-flex;
    margin-top: 4px;
}

.note {
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px 20px;
    border: 1px solid rgba(0,0,0,.25);
    padding: 8px 6px;
}

.g023_sectionHeaderBacking.note {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 4px 10px;
}

/*.g023_sectionHeaderBacking span img {
    height: 10px;
}*/

.sticky0 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: white;
}

.sticky1 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #CBFAFA;
}

.sticky2 {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    background-color: #FFF780;
}

.sticky3 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    background-color: #F8CDCD;
}

.sticky4 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    background-color: #F8CDCD;
}

.sticky5 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: #ffffff;
}

.pin {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    box-shadow: 0 3px 6px rgba(0,0,0,.55);
    margin: 0 auto;
}

.pin.left, .pin.right {
    width: 14px;
    height: 14px;
    margin-top: 0px;
}

.pin.left {
    margin-left:3px;
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, skyBlue 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, skyBlue, black);
    background-image: radial-gradient(skyBlue 50%, black 100%);
}
.pin.right {
    margin-right:3px;
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, orange 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, orange, black);
    background-image: radial-gradient(orange 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(1n) .pin {
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, red 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, red, black);
    background-image: radial-gradient(red 50%, black 100%);

}

div.g023_restaItemWrapper:nth-child(6n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(orange 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(3n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
}

div.g023_restaItemWrapper:nth-child(5n+3) .pin,
div.g023_restaItemWrapper:last-child .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 50%, white 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, white);
    background-image: radial-gradient(blue 50%, white 100%);
}

div.g023_restaIconHolder img {
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    width: 108px;
}

div.g023_restaIconHolder div.g023_restaDetail {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: -6px;
    margin-top: 10px;
}

div.g023_arrow {
    height: 40px;
    opacity: 0.5;
    position: absolute;
    width: 40px;
    background-size: 100% 100%;
    transition: all 0.4s;
}

div.g023_arrow.g023_upper_row, div.g023_arrow.g023_lower_row {
    top: 80px;
}

div.g023_arrow:hover {
    opacity: 0.8;
    cursor: pointer;
}

div.g023_arrow.g023_left_arrow {
    background-image: url("left_arrow.png");
    left: 4px;
} 

div.g023_arrow.g023_right_arrow {
    background-image: url("right_arrow.png");
    right: 2px;
}

